---
---

@import 'main';

// Header.
.navbar.is-light {
  background: #eee;
  border-bottom: 1px solid #c9c9c9;
}

.navbar-brand {
  a.navbar-item {
    width: 50px;
    font-size: 0;
    text-indent: -999px;
    color: transparent;
    background-image: url('/assets/logo.svg');
    background-repeat: no-repeat;
    background-size: 40px auto;
    background-position: 50% 50%;
  }
}

// Documentation.
p.menu-label {
  display: none;
}
.content figure {
  text-align: left;
}
